body {
  margin-top:200px;
  text-align: center;
  background-color: #020d11;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #16021204;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #eb1212;
}

.input-group {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #eb1212;
  border: none;
}

.btn-primary:hover {
  background-color: #d90c0c;
}

#result {
  margin-top: 10px;
  display: none;
}

.icons {
  max-width: 25px;
  height: auto;
}

/* Additional styles for input fields */
.form-control {
  font-size: 18px;
  height: 50px;
}

/* Style the dropdown select */
#unit-select {
  height: 50px;
}

/* Style the result message */
.alert {
  font-size: 18px;
  padding: 10px;
  margin-top: 20px;
}


footer {
  margin-top: 150px;
  font-size: 16px;
  text-align: center;
  color: #d90c0c;
}
